
.layout{
    background-color: rgb(255, 255, 255);
    height: 100%;
    width: 70%;
    border-radius: 30px;
    min-width: 500px;
    box-shadow: 0px 0px 10px 7px rgb(230, 230, 230);

    padding: 50px;
    display: grid;
    gap: 10px;
}

.caption{
    display: grid;
    grid-template-columns: 1fr 104px 173px 116px;
    margin-bottom: 10px;
    margin-left: 22px;
}


.transaction-container{
    display: flex;
    flex-direction: column;
    gap:  10px;
    
}

.transaction{
    padding: 18px;
    display: flex;
    flex: 1;
    justify-content: space-between;
    
    
}

.transaction{
    background-color: #F0F0F0;
    border-radius: 10px;
}

.transaction-info{
    display: grid;
    grid-template-columns: 50px 1fr 1fr;
    gap: 20px
}

.transaction-type{
    text-align: center;

}

.transaction-date{

}

.transaction-value-expense, .transaction-value-income{
    max-width: 120px;
    text-align: center;
} 

.transaction-value-expense{
    color:red;
}
.transaction-value-income{
    color: green;
}

