
*{
    font-family: roboto, arial;
    line-height: 1;
}
body{
    background-color: rgb(240, 240, 240);
    margin-top: 100px;
    margin-left: 250px;
    margin-right: 25px;
    margin-bottom: 20px;
}

.header, .app-name-container{
    min-height: 80px;
}


