
*{
    font-family: roboto, arial;
    line-height: 1;
}
body{
    background-color: rgb(247, 247, 247);
}

.sidebar{
    z-index: 99;
    width: 220px;
    position: fixed;
    background-color: white;
    top:0;
    bottom: 0;
    left:0;

    display: flex;
    align-items: center;
    flex-direction: column;

    padding-left: 20px;

}



.nav-buttons{
    margin-top: 120px;
    box-sizing: border-box;
    width: 200px;
}

.nav-button
,.nav-button-disabled{
    display: block;
    padding: 11px 10px;
    border-radius: 5px;
    text-align: start;
    border: none;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 5px;
    cursor: pointer;

    text-decoration: none;
    display: flex;
    align-items: center;
}

.nav-button{
    background-color: #0182CC;
    color: rgb(255, 255, 255);
   
}

.nav-button-disabled{
    background-color: white;
    color: rgb(82, 82, 82);
   
}

.nav-button-text{
    display: inline;
}

.icon{
    margin-right: 3px;
    font-size: 19px;
}


.header{
    z-index: 100;
    background-color: white;
    position: fixed;
    height: 90px;
    left: 0;
    right: 0;
    top: 0;
    display: flex;
    align-items: center;
}

.app-name{
    font-size: 30px;
    width: 240px;
    text-align: center;
}

.app-name-color{
    color:rgb(25, 121, 25);
}

.title{
    word-spacing: -3px;
    margin-left: 24px;
}

.title-color{
    color:#007ec7;
}